.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}

.card{
    border-radius: 5%;
    display: flexbox;
    width: 300px;
    height: 500px;
    border: 1px solid black;
    padding: 10px;
    
}

.botonAgregar{
    color:red;
}

#carrito{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightblue;
}

.img{
    width: 300px;
    height: 300px;
}